@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020202;
}

body {
  background-color: var(--background);
}

#sections-container {
  background-image: url('../assets/cherry-bg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#left-column {
  background-image: url('../assets/cherry-left.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sections {
  position: relative;
  float: left;
}
